---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Skills from "../components/Skills.astro";
import ThreeCanvas from "../components/ThreeCanvas.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Navbar />
  <div class="min-h-screen flex items-center overflow-hidden" id="home">
    <div class="flex md:flex-row flex-col max-w-6xl h-150 w-full mx-auto px-4">
      <div class="w-full self-center order-2 md:order-1">
        <p class="lg:text-lg text-md">Hi I'm</p>
        <h1
          class="text-6xl lg:text-7xl block font-semibold text-left -ml-1 tracking-wide"
        >
          David
        </h1>
        <h1
          class="text-6xl lg:text-7xl text-blue-500 block font-semibold -ml-1 tracking-wide"
        >
          Encarnacion
        </h1>
        <p class="block md:text-xl text-lg font-semibold mt-4">
          Full Stack Web Developer
        </p>
        <a
          href="#contact"
          class="bg-blue-500 p-4 rounded-md cursor-pointer mt-8
		hover:bg-blue-600 active:bg-blue-700 transition inline-block"
          >Contact Me</a
        >
      </div>
      <ThreeCanvas />
    </div>
  </div>
  <About />
  <Skills />
  <Contact />
</Layout>
