---
import Container from "./Container.astro";
---

<Container>
  <div class="md:py-24 py-16">
    <h2 class="text-3xl font-semibold mb-4">About Me</h2>
    <div class="grid md:grid-cols-2 gap-8 grid-cols-1">
      <p class="leading-7">
        I specialize in building modern web applications with a strong focus on
        performance, scalability, and user experience. With a background in
        Computer Science and experience across the full development stack, I
        enjoy creating efficient software solutions, designing robust
        architectures, and continuously expanding my technical expertise through
        learning and hands-on projects.
      </p>
      <img src="/porfolio/about-me.jpg" alt="about-me img" />
    </div>
  </div>
</Container>
