---
import Container from "./Container.astro";
---

<Container id="about" class="md:py-24 py-16">
  <div class="grid md:grid-cols-2 lg:gap-16 gap-6 grid-cols-1">
    <div class="self-center">
      <h2 class="text-3xl font-semibold mb-4">About Me</h2>
      <p class="leading-8">
        I build modern web applications focused on performance, scalability, and
        user experience. With a Computer Science background, I enjoy creating
        efficient solutions, designing solid architectures, and continuously
        learning through hands-on projects.
      </p>
    </div>
    <img
      class="rounded-2xl"
      src="./portfolio/about-me.png"
      alt="about-me img"
    />
  </div>
</Container>
