---
import Container from "./Container.astro";
---

<Container id="about" class="md:py-24 py-16">
  <h2 class="text-3xl font-semibold mb-4">About Me</h2>
  <div class="grid md:grid-cols-2 gap-8 grid-cols-1">
    <p class="leading-7">
      I I build modern web applications focused on performance, scalability, and
      user experience. With a Computer Science background, I enjoy creating
      efficient solutions, designing solid architectures, and continuously
      learning through hands-on projects.
    </p>
    <img src="./about-me.jpg" alt="about-me img" />
  </div>
</Container>
