---
interface Props {
  class?: string;
  id?: string;
}
const { class: className = "", id: idContainer } = Astro.props;
---

<div
  class={`max-w-6xl w-full mx-auto md:px-4  px-6 ${className}`}
  id={idContainer}
>
  <slot />
</div>
