<div class="order-2 md:order-1 md:self-center md:flex-none flex-1">
  <p class="lg:text-lg text-md">Hi I'm</p>
  <h1
    class="text-6xl lg:text-7xl block font-semibold text-left -ml-1 tracking-wide"
  >
    David
  </h1>
  <h1
    class="text-6xl lg:text-7xl text-blue-500 block font-semibold -ml-1 tracking-wide"
  >
    Encarnacion
  </h1>
  <p class="block md:text-xl text-lg font-semibold mt-4">
    Full Stack Web Developer
  </p>
  <a
    href="#contact"
    class="bg-blue-500 p-4 rounded-md cursor-pointer mt-8
		hover:bg-blue-600 active:bg-blue-700 transition inline-block"
    >Contact Me</a
  >
</div>
