<div class="flex-none md:self-center">
  <p class="text-lg block mb-2">Hi I'm</p>
  <h1 class="md:text-6xl lg:text-7xl text-5xl font-bold -ml-1 leading-16">
    David
    <span class="text-blue-500 block">Encarnacion</span>
  </h1>
  <p class="block text-lg mt-2">Full Stack Web Developer</p>
  <a
    href="#contact"
    class="bg-blue-500 p-4 rounded-md cursor-pointer mt-4
           hover:bg-blue-500/80 active:bg-blue-500 transition inline-block"
    >Contact Me</a
  >
</div>
