---
interface LinksProps {
  label: string;
  href: string;
}
const links: LinksProps[] = [
  { label: "About Me", href: "#about" },
  { label: "Tech", href: "#skills" },
  { label: "Contact", href: "#contact" },
];
---

<div
  class="h-14 bg-zinc-900/80 backdrop-blur-2xl fixed inset-x-0 flex items-center top-0 justify-center z-20"
>
  <nav class="w-full max-w-6xl md:px-12 px-6 justify-between flex">
    <a href="#home" class="font-bold">David E.</a>
    <ul class="flex gap-6">
      {
        links.map(({ label, href }) => (
          <a
            class="hover:text-blue-500 active:text-blue-600 transition"
            href={href}
          >
            <li>{label}</li>
          </a>
        ))
      }
    </ul>
  </nav>
</div>
