---
interface LinksProps {
  label: string;
  href: string;
}
const links: LinksProps[] = [
  { label: "About Me", href: "#about" },
  { label: "Tech", href: "#skills" },
  { label: "Contact", href: "#contact" },
];
---

<div class="bg-black/40 backdrop-blur-2xl fixed inset-x-0">
  <nav
    class="flex justify-between h-14 items-center w-full max-w-6xl
mx-auto px-4"
  >
    <a class="hover:text-blue-500 active:text-blue-600 transition" href="#home"
      >Home</a
    >
    <ul class="flex gap-6">
      {
        links.map(({ label, href }) => (
          <a
            class="hover:text-blue-500 active:text-blue-600 transition"
            href={href}
          >
            <li>{label}</li>
          </a>
        ))
      }
    </ul>
  </nav>
</div>
