---

---

<div id="canvas_container" class="absolute inset-0 bg-zinc-950 -z-10"></div>

<script>
  import * as THREE from "three";
  import { GUI } from "dat.gui";

  import { GLTFLoader } from "three/addons/loaders/GLTFLoader.js";
  import { OrbitControls } from "three/addons/controls/OrbitControls.js";
  const canvas = document.querySelector<HTMLDivElement>("#canvas_container");
  const loader = new GLTFLoader();
  const gui = new GUI();
  const cameraFolder = gui.addFolder("Camera");
  const modelPosition = gui.addFolder("model");

  if (canvas) {
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(
      75,
      window.innerWidth / window.innerHeight,
      0.1,
      1000,
    );
    const renderer = new THREE.WebGLRenderer({ antialias: true });
    renderer.setClearColor("#09090B");

    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.setPixelRatio(window.devicePixelRatio);
    canvas.appendChild(renderer.domElement);
    const controls = new OrbitControls(camera, renderer.domElement);

    const light = new THREE.DirectionalLight(0xffffff, 5);
    light.position.set(200, 100, 10);
    scene.add(light);
    const ambientLight = new THREE.AmbientLight(0xffffff, 1);

    scene.add(ambientLight);

    let model: any;
    const video = document.createElement("video");
    video.src = "/streetfighter.mp4";
    video.loop = true;
    video.muted = true;
    video.play();
    let videoTexture = new THREE.VideoTexture(video);
    videoTexture.flipY = false;
    loader.load(
      "./portfolio/model.glb",
      (gltf) => {
        model = gltf.scene;

        scene.add(model);
        const screenArcade = model.getObjectByName("maquina_arcade_pantalla");
        if (screenArcade) {
          console.log(screenArcade.geometry.attributes);
          screenArcade.material = new THREE.MeshStandardMaterial({
            map: videoTexture,
            side: THREE.DoubleSide,
          });
        }
        // model.position.set(7.5, -1.5, 0);
        // model.rotation.set(0, 2.65, 0);
        // modelPosition.add(model.position, "x", -100, 100, 0.1);
        // modelPosition.add(model.rotation, "x", -Math.PI, Math.PI, 0.01);
        // modelPosition.add(model.rotation, "y", -Math.PI, Math.PI, 0.01);
        // modelPosition.add(model.rotation, "z", -Math.PI, Math.PI, 0.01);

        //modelPosition.open();
        model.scale.set(1, 1, 1);
      },

      (progress) => {
        console.log((progress.loaded / progress.total) * 100 + "%");
      },
      (error) => {
        console.log("Error al cargar modelo");
      },
    );

    cameraFolder.add(camera.position, "x", -100, 100, 0.1);
    cameraFolder.add(camera.position, "y", -100, 100, 0.1);
    cameraFolder.add(camera.position, "z", -100, 100, 0.1);
    cameraFolder.open();
    camera.position.set(9, 9, 11);
    controls.update();
    function animate() {
      requestAnimationFrame(animate);
      controls.update();

      renderer.render(scene, camera);
    }
    const resize = () => {
      const w = canvas.clientWidth;
      const h = canvas.clientHeight;
      camera.aspect = w / h;
      camera.updateProjectionMatrix();
      renderer.setSize(w, h);
    };
    window.addEventListener("resize", resize);
    resize();
    animate();
  }
</script>
