<div id="canvas_container" class="flex-1 min-h-[300px] md:min-h-0"></div>

<script>
  import * as THREE from "three";
  import { GUI } from "dat.gui";

  import { GLTFLoader } from "three/addons/loaders/GLTFLoader.js";
  import { OrbitControls } from "three/addons/controls/OrbitControls.js";
  import { UnrealBloomPass } from "three/addons/postprocessing/UnrealBloomPass.js";
  import { EffectComposer } from "three/examples/jsm/postprocessing/EffectComposer.js";
  import { RenderPass } from "three/examples/jsm/postprocessing/RenderPass.js";
  import { RectAreaLightUniformsLib } from "three/addons/lights/RectAreaLightUniformsLib.js";
  const canvas = document.querySelector<HTMLDivElement>("#canvas_container");
  const loader = new GLTFLoader();
  //const gui = new GUI();

  RectAreaLightUniformsLib.init();

  if (canvas) {
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(
      75,
      canvas.clientWidth / canvas.clientHeight,
      0.1,
      1000,
    );
    const renderer = new THREE.WebGLRenderer({ antialias: true });

    const bloomPass = new UnrealBloomPass(
      new THREE.Vector2(window.innerWidth, window.innerHeight),
      0.04,
      0.01,
      0.2,
    );
    const composer = new EffectComposer(renderer);
    composer.addPass(new RenderPass(scene, camera));
    composer.addPass(bloomPass);
    composer.setSize(canvas.clientWidth, canvas.clientHeight);

    renderer.setSize(canvas.clientWidth, canvas.clientHeight);
    renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
    canvas.appendChild(renderer.domElement);
    const controls = new OrbitControls(camera, renderer.domElement);

    let model: any;
    const video = document.createElement("video");
    video.src = "./streetfighter.mp4";
    video.loop = true;
    video.muted = true;
    video.play();
    let videoTexture = new THREE.VideoTexture(video);
    videoTexture.flipY = false;
    loader.load(
      "./model.glb",
      (gltf) => {
        model = gltf.scene;
        model.position.set(-2, 0, 0);

        camera.lookAt(model.position);
        scene.add(model);
        const screenArcade = model.getObjectByName("maquina_arcade_pantalla");
        if (screenArcade) {
          screenArcade.material = new THREE.MeshBasicMaterial({
            map: videoTexture,
            side: THREE.DoubleSide,
          });
        }
      },

      (progress) => {
        console.log((progress.loaded / progress.total) * 100 + "%");
      },
      (error) => {
        console.log("Error al cargar modelo");
      },
    );

    const spotLight = new THREE.SpotLight(0xffffff, 1000);
    spotLight.position.set(-5, 10, -3);
    //   const spotlightPoitions = gui.addFolder("LightPos");
    //   spotlightPoitions.add(spotLight.position, "x", -100, 100, 0.001);
    //   spotlightPoitions.add(spotLight.position, "y", -100, 100, 0.001);
    //   spotlightPoitions.add(spotLight.position, "z", -100, 100, 0.001);
    //   spotlightPoitions.open();
    //  spotlightPoitions.add(spotLight, "distance", -100, 100, 0.001);
    //  spotlightPoitions.add(spotLight, "angle", -100, 100, 0.001);
    //  spotlightPoitions.add(spotLight.target.position, "x", -100, 100, 0.01);
    //  spotlightPoitions.add(spotLight.target.position, "y", -100, 100, 0.01);
    //  spotlightPoitions.add(spotLight.target.position, "z", -100, 100, 0.01);

    spotLight.angle = Math.PI / 8;
    spotLight.distance = 15;

    spotLight.castShadow = true;

    // 🔥 IMPORTANTE: target
    spotLight.target.position.set(0, -2, 0.68);
    scene.add(spotLight.target);

    scene.add(spotLight);

    scene.background = new THREE.Color(0x09090b);
    // cameraFolder.add(camera.position, "x", -100, 100, 0.1);
    // cameraFolder.add(camera.position, "y", -100, 100, 0.1);
    // cameraFolder.add(camera.position, "z", -100, 100, 0.1);
    // cameraFolder.open();
    camera.position.set(-6, 10, -4);
    controls.update();
    const helper = new THREE.AxesHelper();
    scene.add(helper);

    function animate() {
      requestAnimationFrame(animate);
      controls.update();

      composer.render();
    }

    function resize() {
      if (canvas) {
        const w = canvas.clientWidth;
        const h = canvas.clientHeight;

        const windowW = window.innerWidth;

        const minWidth = 600;
        const maxWidth = 1920;

        // valor entre 0 y 1
        const t = Math.max(
          0,
          Math.min(1, (windowW - minWidth) / (maxWidth - minWidth)),
        );
        camera.aspect = w / h;
        if (windowW < 1100) {
          camera.position.set(0, 10, -6);
          model.position.set(2 * t, 0, 0);
        } else {
          camera.position.set(0, 10, -4);
          model.position.set(-2 * t, 0, 0);
        }
        camera.updateProjectionMatrix();

        renderer.setSize(w, h);
        composer.setSize(w, h);
        renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2));
      }
    }
    window.addEventListener("resize", resize);
    animate();
  }
</script>
